
<table>
  <tr>
    <th>Sha</th><th>Author</th><th>message</th><th>Created at</th>
  </tr>
  <% @commits.each do |commit| %>
  <tr>
    <td>
       <%= commit.short_sha %>
    </td>
    <td>
      <%= commit.author %>
    </td>
    <td>
      <%= commit.message %>
    </td>
    <td>
      <%= commit.created %>
    </td>
  </tr>
  <% end %>


</table>



<% @commits.each do |commit| %>
  <%= commit.short_sha %>
  <%= commit.author %>
  <%= commit.message %>
  <%= commit.created %>
<% end %>
